#headpost-container {
    margin: 5px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;

    background: #252122;
    border: 1px solid #6e5b63;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
}

#headpost-container #image {
    height: 50px;
    width: 50px;
}

#headpost-container #name {
    margin-left: 10px;
    color: #ee3a3a;
}
