#posting-container {
    width: 500px;
    height: 300px;
    left: 150px;
    top: 50px;

    z-index: 4;
    position: fixed;
    display: flex;
}

#posting-container #text-area {
    width: 500px;
    height: 300px;
    padding: 5px;
    padding-bottom: 50px;

    resize: none;

    color: var(--white);
    background: rgba(0, 0, 0, 0.8);
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

#posting-container #text-area:hover {
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid var(--blue);
    transition: 0.1s;
}

#posting-container #text-area::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

#posting-container #text-area::-webkit-scrollbar-thumb {
    background: var(--gray-1);
}

#posting-container #text-area::-webkit-scrollbar-thumb:hover {
    background: var(--gray-2);
    transition: 0.1s;
}

#posting-container #buttons #send {
    width: 40px;
    height: 40px;
    left: 580px;
    top: 310px;

    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
}

#posting-container #buttons #media {
    width: 40px;
    height: 40px;
    left: 540px;
    top: 310px;

    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
}

#posting-container #buttons #send-icon:hover,
#clip-icon:hover {
    color: var(--light-white);
    transition: 0.1s;
}

input[type='file'] {
    display: none;
}

#clip-icon,
#send-icon {
    height: 20px;
    width: 20px;
    color: var(--white);
}

#posting-container #preview {
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    top: 0px;
    left: 500px;
    margin-right: 5px;
    background: chartreuse;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
