#posting-container {
    width: 100%;
    height: 400px;
    padding: 10px;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#posting-container #head {
    width: 100%;
    padding: 5px;

    background: none;
    border: none;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#posting-container #head #back-icon {
    height: 100%;
    width: 25px;
    margin: 10px;

    cursor: pointer;

    color: #f8e5ed;
}

#posting-container #text-area {
    width: 100%;
    height: 200px;
    padding: 5px;
    border-radius: 5px;

    resize: none;

    color: #f8e5ed;
    background: #6e5b63;
    border: 1px solid #473f42;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.401);
}

#posting-container #options-post {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#posting-container #options-post #send,
#media {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 50%;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #ee3a3a;
}

#posting-container #options-post #send:hover,
#media:hover {
    background: #b31e1e;
    transition: 0.1s;
}

input[type='file'] {
    display: none;
}

#clip-icon,
#send-icon {
    color: #f8e5ed;
}

#posting-container #options-post #not-flex {
    padding: 5px;
}

#posting-container #options-post #not-flex #preview {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.401);
}
