#posting-container {
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.5);
}

#posting-container #text-area {
    width: 400px;
    height: 200px;
    padding: 5px;
    border-radius: 5px;

    resize: none;

    color: #f8e5ed;
    background: #6e5b63;
    border: 1px solid #473f42;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.401);
}

#posting-container #options-post {
    width: 400px;
    display: flex;
    flex-direction: row-reverse;
}

#posting-container #options-post #send,
#media {
    width: 50px;
    height: 50px;
    margin-left: 5px;

    background: #ee3a3a;
}

#posting-container #options-post #send:hover,
#media:hover {
    background: #b31e1e;
    transition: 0.1s;
}
