#topic-container {
    height: 70px;
    margin: 0 0 5px 5px;
    padding: 5px 10px;

    display: flex;
    align-items: center;
    cursor: pointer;

    border-bottom: 1px solid var(--dark-green);
}

#topic-container:hover {
    border-bottom: 1px solid var(--green);
    background: var(--gray-1);
    transform: translateX(5px);
    transition: 0.1s;
}

#topic-container #hashtag {
    color: var(--green);
    text-shadow: var(--shadow);
}

#topic-container #foot {
    height: 30px;
    width: 100%;
    padding-right: 10px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#topic-container #foot #comment,
#follow-icon,
#go-ahead-icon {
    height: 100%;
    width: 25px;
    margin-left: 10px;

    cursor: pointer;

    color: var(--white);
}

#topic-container #foot #comment:hover,
#follow-icon:hover,
#go-ahead-icon:hover {
    color: var(--light-white);
    transition: 0.1s;
}
