#userimage-container {
    cursor: pointer;
}

#userimage-container #user-icon {
    height: 100%;
    width: 100%;

    color: #be9aa9;
}

#userimage-container #user-image {
    border-radius: 50%;
}
