#home-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

#home-head {
    width: 100%;
    height: 50px;
    padding: 10px 60px;

    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: row;

    background: var(--black);
    border-bottom: 1px solid var(--dark-orange);
}

#home-head:hover {
    background: var(--gray-1);
    border-bottom: 1px solid var(--orange);
}

#home-head #logo {
    width: 30px;

    flex-direction: row;
    cursor: pointer;
}

#home-head #go-home {
    width: 30px;
    height: 30px;
    left: 60px;

    position: absolute;
}

#home-head #space {
    width: 100%;
}

#home-head #logoff {
    height: 100%;
    width: 25px;
    cursor: pointer;

    color: var(--orange);
}

#home-head #logoff:hover {
    color: var(--white);
    transition: 0.1s;
}
/*---------------------------------------------------------*/
#home-body {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: var(--black);
}

#home-body #perfil {
    width: 150px;
    height: 300px;
    padding: 25px 25px 0 25px;
    top: 50px;
    left: 0px;

    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;

    background: var(--black);
    border-right: 1px solid var(--dark-orange);
}

#home-body #perfil:hover {
    background: var(--gray-1);
    border-color: var(--orange);
    transition: 0.1s;
}

#home-body #perfil #user-name {
    margin-top: 10px;
    font-size: 20px;
    color: var(--magenta);
}

#home-body #perfil {
    color: var(--gray-4);
    font-size: 11px;
}

#home-body #perfil #comment-icon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    color: var(--white);
    cursor: pointer;
}

#home-body #perfil #comment-icon:hover {
    color: var(--light-white);
    transition: 0.1s;
}

#home-body #perfil #cart-icon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    color: var(--white);
    cursor: pointer;
}

#home-body #perfil #cart-icon:hover {
    color: var(--light-white);
    transition: 0.1s;
}

#home-body #feed {
    width: 100%;
    max-width: 900px;
    margin: 60px 180px 0px 180px;

    display: flex;
}

#home-body #feed #comments {
    flex: 5;

    border-right: 1px solid var(--gray-2);
}

#home-body #feed #follows {
    flex: 3;
}

#home-body #feed #follows #users {
    height: 30px;
    margin: 10px 0 5px 0;
    padding: 0 10px;

    display: flex;
    align-items: center;

    color: var(--dark-magenta);
    font-style: oblique;
    border-bottom: 1px solid var(--dark-magenta);
}

#home-body #feed #follows #user {
    margin: 5px;

    display: flex;
    align-items: center;
    cursor: pointer;
}

#home-body #feed #follows #user:hover {
    transform: translateX(5px);
    transition: 0.1s;
}

#home-body #feed #follows #user #name {
    margin-left: 5px;

    color: var(--magenta);
}

#home-body #feed #follows #topics {
    height: 30px;
    margin: 10px 0 5px 0;
    padding: 0 10px;

    display: flex;
    align-items: center;

    color: var(--dark-green);
    font-style: oblique;
    border-bottom: 1px solid var(--dark-green);
}
