.home-container {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.home-container .head {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid;
    border-color: #444;
}

.home-container .body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #2a2124;
}

.home-container .body .perfil {
    height: 100%;
    width: 20%;
    padding: 25px;
    display: flex;
    justify-content: center;
    background: #201b1d;
}

.home-container .body .perfil .photo {
    height: 100%;
    max-height: 100px;
    width: 100%;
    max-width: 100px;
    background: #6e5b63;
}

.home-container .body .feed {
    height: 100%;
    width: 60%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #444;
}
