.home-container {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.head {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    border-bottom: 1px solid;
    border-color: #6e5b63;
    background: #252122;
}

.head div {
    width: 30px;
    flex-direction: row;
    cursor: pointer;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #3a2c30;
}

.perfil {
    height: 100%;
    width: 150px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #30272a;
}

.userIcon {
    height: 100%;
    width: 100%;
    padding: 10px;
    justify-content: center;
    color: #be9aa9;
    cursor: pointer;
}

.menuIcon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    color: #be9aa9;
    cursor: pointer;
}

.menuIcon:hover {
    color: #f1d0de;
}

.photo {
    width: 75px;
    height: 75px;
    position: relative;
    border-radius: 50%;
    background: #6e5b63;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.feed {
    height: 100%;
    width: 50%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #6e5b63;
}

.myPost {
    height: 200px;
    border-bottom: 1px solid;
    border-color: #6e5b63;
}

.tips {
    width: 50%;
}
