#home-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

#home-head {
    width: 100%;
    height: 50px;
    padding: 10px 60px;

    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: row;

    border-bottom: 2px solid var(--dark-red);
    border-radius: 0px;
    background: var(--black);
    box-shadow: var(--shadow);
}

#home-head:hover {
    border-bottom: 2px solid var(--red);
}

#home-head #logo {
    width: 30px;

    flex-direction: row;
    cursor: pointer;
}

#home-head #go-home {
    width: 30px;
    height: 30px;
    left: 60px;

    position: absolute;
}

#home-head #space {
    width: 100%;
}

#home-head #logoff {
    height: 100%;
    width: 25px;
    cursor: pointer;

    color: var(--orange);
}

#home-head #logoff:hover {
    color: var(--dark-orange);
    transition: 0.1s;
}
/*---------------------------------------------------------*/
#home-body {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: var(--black);
}

#home-body #perfil {
    width: 150px;
    height: 300px;
    padding: 25px 25px 0 25px;
    top: 60px;
    left: 10px;

    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;

    border: var(--border);
    box-shadow: var(--shadow);
    background: var(--gray-1);

    border: 2px solid var(--dark-red);
    background: var(--black);
}

#home-body #perfil:hover {
    border-color: var(--red);
    transition: 0.1s;
}

#home-body #perfil #user-name {
    margin-top: 10px;
    font-size: 20px;
    color: var(--magenta);
}

#home-body #perfil {
    color: var(--gray-4);
    font-size: 11px;
}

#home-body #perfil #comment-icon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    color: var(--blue);
    cursor: pointer;
}

#home-body #perfil #comment-icon:hover {
    color: var(--dark-blue);
    transition: 0.1s;
}

#home-body #perfil #cart-icon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    color: var(--yellow);
    cursor: pointer;
}

#home-body #perfil #cart-icon:hover {
    color: var(--dark-yellow);
    transition: 0.1s;
}

#home-body #feed {
    width: 100%;
    max-width: 900px;
    margin: 60px 180px 0px 180px;

    display: flex;
}

#home-body #feed #posts {
    flex: 1;
}

#home-body #feed #topics {
    flex: 1;
}
