#home-container {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

#home-container #head {
    width: 100%;
    height: 50px;
    padding: 10px 60px;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid;
    border-color: #6e5b63;
    background: #252122;
}

#home-container #head #logo {
    width: 30px;

    flex-direction: row;
    cursor: pointer;
}

#home-container #head #go-home {
    width: 30px;
    height: 30px;
    left: 60px;
    position: absolute;
}

#home-container #head #space {
    width: 100%;
}

#home-container #head #sair {
    height: 100%;
    width: 25px;
    cursor: pointer;

    color: #ee3a3a;
}

#home-container #head #sair:hover {
    color: #ff8888;
}

#home-container #body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    background: #3a2c30;
}

#home-container #body #perfil {
    width: 150px;
    padding: 25px 25px 0 25px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: #30272a;
}

#home-container #body #perfil #user-name {
    margin-top: 10px;
    font-size: 20px;
    color: #ff5e4f;
}

#home-container #body #perfil {
    color: rgb(149, 149, 149);
    font-size: 11px;
}

#home-container #body #perfil #comment-icon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    color: #be9aa9;
    cursor: pointer;
}

#home-container #body #perfil #comment-icon:hover {
    margin-top: 17.5px;
    width: 30px;
    height: 30px;
    color: #f1d0de;
}

#home-container #body #perfil #cart-icon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    color: #be9aa9;
    cursor: pointer;
}

#home-container #body #perfil #cart-icon:hover {
    margin-top: 17.5px;
    width: 30px;
    height: 30px;
    color: #f1d0de;
}

.perfil div {
    width: 75px;
    height: 75px;
}

#home-container #body #topics {
    width: 50%;
}

#home-container #body #posts {
    width: 50%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #6e5b63;
}
