#home-container {
    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

#home-container #head {
    width: 100%;
    height: 50px;
    padding: 10px 40px;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid;
    border-color: #6e5b63;
    background: #252122;
}

#home-container #head #logo {
    width: 30px;

    flex-direction: row;
    cursor: pointer;
}

#home-container #head #space {
    width: 100%;
}

#home-container #head #sair {
    height: 100%;
    width: 25px;
    cursor: pointer;

    color: #ee3a3a;
}

#home-container #head #sair:hover {
    color: #ff8888;
}

#home-container #body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    background: #3a2c30;
}

#home-container #body #perfil {
    height: 100%;
    width: 150px;
    padding: 25px 25px 0 25px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: #30272a;
}

.menuIcon {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    color: #be9aa9;
    cursor: pointer;
}

.menuIcon:hover {
    color: #f1d0de;
}

.perfil div {
    width: 75px;
    height: 75px;
}

#home-container #body #topics {
    height: 100%;
    width: 50%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #6e5b63;
}

.myPost {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid;
    border-color: #6e5b63;
}

.myPost textarea {
    height: 100%;
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    border-color: #6e5b63;
    border-radius: 4px;
    background: #cccccc;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
    resize: none;
}

.myPost .optionsPost {
    padding: 0;
    height: 100%;
    width: 100px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.myPost .send {
    margin-top: 10px;
    height: 50px;
    width: 60px;
    justify-content: center;
    background: #ee3a3a;
}

.myPost svg {
    width: 100%;
    height: 25px;
    color: #ee3a3a;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.clipIcon {
    margin-bottom: 20px;
}

.sendIcon path {
    color: #f5a69c;
}

#home-container #body #posts {
    width: 50%;
}
