#login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container #form #login-button,
#register-button,
#halfpugg-button {
    display: flex;
    margin: 10px 0;
    border: 0;
    border-radius: 30px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #eee;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
    text-decoration: none;
}

#login-container #form {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#login-container #form #login-input,
#password-input {
    margin: 10px 0 10px 0;
    border: 1px solid #555;
    background: #eee;
    border-radius: 10px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
}

#login-container #form #login-button {
    background: #bc132b;
}

#login-container #form #login-button:hover {
    background: rgb(143, 10, 30);
    transition: 0.1s;
}

#login-container #form #register-button {
    background: #ee3a3a;
}

#login-container #form #register-button:hover {
    background: #b31e1e;
    transition: 0.1s;
}

#login-container #phrase {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: 40px;
}

#login-container #ou {
    margin: 50px;
    font-size: 24px;
    color: #777;
}

#login-container #halfpugg-button {
    border: 0;
    border-radius: 40px;
    width: 250px;
    height: 80px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    background: #22d69a;
    color: #21302a;
    padding: 30px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
}

#login-container #halfpugg-button:hover {
    background: #0f9e6e;
    transition: 0.1s;
}
