#login-container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#login-container #form #login-button,
#register-button,
#halfpugg-button {
    height: 48px;
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    border: 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;

    color: var(--white);

    box-shadow: var(--shadow);
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: var(--gray-4);
}

#login-container #form {
    width: 100%;
    max-width: 300px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#login-container #form #warning {
    color: var(--orange);
}

#login-container #form #login-input,
#password-input {
    height: 48px;
    width: 100%;
    margin: 10px 0 10px 0;

    border: none;
    background: var(--white);
    border-radius: 10px;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    box-shadow: var(--shadow);
}

#login-container #form #login-button {
    width: 100%;

    background: var(--red);
}

#login-container #form #login-button:hover {
    background: var(--dark-red);
    transition: 0.1s;
}

#login-container #form #register-button {
    width: 100%;

    background: var(--orange);
}

#login-container #form #register-button:hover {
    background: var(--dark-orange);
    transition: 0.1s;
}

#login-container #phrase {
    text-align: center;

    font-size: 16px;
    color: var(--gray-4);
    margin-top: 40px;
}

#login-container #ou {
    margin: 50px;
    font-size: 24px;
    color: var(--gray-4);
}

#login-container #halfpugg-button {
    height: 80px;
    width: 250px;
    padding: 30px;

    text-align: center;
    cursor: pointer;

    border: 0;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    background: #22d69a;
    color: #21302a;
    box-shadow: var(--shadow);
}

#login-container #halfpugg-button:hover {
    background: #0f9e6e;
    transition: 0.1s;
}
