#post-container {
    height: 200px;
    margin: 5px;

    display: flex;
    flex-direction: row;

    border: 1px solid #6e5b63;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
}

#post-container
    #left-post {
    width: 125px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#post-container
    #left-post
        #user-image {
    height: 60px;
    width: 60px;
}

#post-container
    #left-post
        #user-name {
    color: #ee3a3a;
}

#post-container
    #left-post
        #like-dislike {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#post-container
    #left-post
        #like-dislike
            #like-icon, #dislike-icon {
    height: 25px;
    width: 25px;

    cursor: pointer;
}

#post-container
    #left-post
        #like-dislike
            #like-icon {
    color: green;
}

#post-container
    #left-post
        #like-dislike
            #like-icon:hover {
    color: rgb(56, 211, 56);
}

#post-container
    #like-dislike
        #dislike-icon {
    color: rgb(221, 50, 50);
}

#post-container
    #like-dislike
        #dislike-icon:hover {
    color: rgb(248, 105, 105);
}

#post-container
    #left-post
        #cart-icon {
    height: 25px;
    width: 25px;

    cursor: pointer;

    color: rgb(180, 180, 180);
}

#post-container
    #left-post
        #cart-icon:hover {
    color: #f1d0de;
}

#post-container
    #left-post
        #comment-icon {
    height: 25px;
    width: 25px;

    cursor: pointer;

    color: rgb(180, 180, 180);
}

#post-container
    #left-post
        #comment-icon:hover {
    color: #f1d0de;
}

#post-container
    #right-post {
    width: 100%;
    padding: 10px;

    display: flex;
}

#post-container
    #right-post
        #comment {
    height: 100%;
    width: 100%;

    flex: 2;
    resize: none;

    color: rgb(180, 180, 180);
    border: 0;
    background: none;
}

#post-container
    #right-post
        #midia {
    flex: 1;
}
