.register-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.register-container form input {
    margin-top: 20px;
    border: 1px solid #555;
    background: #eee;
    border-radius: 10px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
}

.register-container form button,
a {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: 0;
    border-radius: 30px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #eee;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
    background: #bc132b;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.register-container form button:hover,
a:hover {
    background: rgb(143, 10, 30);
    transition: 0.1s;
}
