#register-container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#register-container #form #next-button,
#back-button,
#register-button {
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    border: 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #eee;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
}

#register-container #form {
    width: 100%;
    max-width: 300px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#register-container #form input {
    height: 48px;
    margin: 10px 0 10px 0;
    padding: 0 20px;

    text-align: center;

    border: 1px solid #555;
    background: #eee;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
}

#register-container #proximo {
    height: 48px;
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    border: 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #eee;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
}

#register-container form a,
button {
    height: 48px;
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    border: 0;
    border-radius: 30px;
    font-size: 16px;
    color: #eee;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.401);
}

#register-container #form #next-button,
#back-button {
    background: #ee3a3a;
}

#register-container #form #next-button:hover,
#back-button:hover {
    background: #b31e1e;
    transition: 0.1s;
}

#register-container #form #register-button {
    background: #bc132b;
}

#register-container #form #register-button:hover {
    background: rgb(143, 10, 30);
    transition: 0.1s;
}
