#register-container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#register-container #form #logo {
    margin-bottom: 15px;
}

#register-container #form #next-button,
#register-button {
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    border: 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
    box-shadow: var(--shadow);
}

#register-container #form {
    width: 100%;
    max-width: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#register-container #form #media {
    width: 100px;
    height: 100px;
    margin: 0;
    background: none;
}

#register-container #form #warning {
    margin-top: 5px;

    color: var(--orange);
}

#register-container #form input {
    height: 40px;
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 0 20px;

    text-align: center;

    border: none;
    background: var(--white);
    border-radius: 10px;
    font-size: 16px;
    box-shadow: var(--shadow);
    text-align: center;
}

#register-container #form #date-input {
    color: var(--gray-4);
    background: var(--white)
        url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
        90% 50% no-repeat;
}

#register-container #form #date-input::-webkit-inner-spin-button {
    display: none;
}

#register-container #form #date-input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#register-container #form #register-button {
    width: 100%;

    background: var(--red);
}

#register-container #form #register-button:hover {
    background: var(--dark-red);
    transition: 0.1s;
}
