* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    --orange: #ee3a3a;
    --dark-orange: #c91818;
    --red: #bc132b;
    --dark-red: #93001c;
    --black: #161314;
    --gray-1: #2d2426;
    --gray-2: #49383c;
    --gray-3: #6b5158;
    --gray-4: #8e7079;
    --white: #e5cad3;
    --light-white: white;
    --magenta: #ff4ebb;
    --dark-magenta: #e41a97;
    --blue: #5979ec;
    --dark-blue: #274aca;
    --green: #00af7e;
    --dark-green: #007554;
    --yellow: #e2c327;
    --dark-yellow: #9a7d01;
    --shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    --border: 1px solid var(--gray-3);
}

a {
    text-decoration: none;
}

div {
    border-radius: 0px;
}
html,
body,
#root {
    height: 100%;
}

body {
    background: var(--black);
}

body,
input,
button {
    font-family: Arial, Helvetica, sans-serif;
}
